.output {
  height: 100vh;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  &:focus-visible {
    outline: none;
  }
  &.showPlaceholder::before {
    content: attr(placeholder);
    color: #aaa;
  }
  @media (max-width: 768px) {
    height: 50vh;
  }
}